.header,
.lots,
.lots__card-list,
.lots__heading,
.lots__look-more-link,
.about,
.footer {
    background-color: white;
}

.header__link,
.header__link_active,
.lots__look-more-link,
.footer__menu {
    text-transform: lowercase;
}

.header__link,
.address, 
.cover__description-text,
.card__text,
.lots__look-more-link, 
.about__text,
.footer__menu,
.footer__menu-link {
    font-weight: 400;
}

.header__link,
.header__link_active,
.address,
.footer__menu,
.footer__menu-link {
    font-size: 18px;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    position: relative;
}

.header__menu {
    padding: 41px 36.5px 42px 0;
}

.header__links-list {
    display: flex;
    gap: 32px;
}

.header__link_auction {
    position: relative;
    padding-right: 3px;
}

.header__links-list-item {
    list-style: circle;
}

.header__address__link,
.header__link,
.footer__menu-list {
    text-underline-offset: 4px;
}

.header__link {
    line-height: 100%;
}

.header__links-list-item_no-bullit,
.lots__card-list,
.footer__menu-list,
.footer__social-list {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
    line-height: 100%;
}

.address {
    color: black;
    font-style: normal;
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.header__address {
    line-height: 1.3
}

.header__logo {
    display: block;
    justify-self: center;
    grid-column: 2;
} 

.header__logo-image {
    width: 148px;
    height: 105px;
}
.cover {
    display: flex;
    justify-content: space-around;
    min-height: 757px;
    position: relative;
    overflow: hidden;
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-position-x: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0 0 0 / 0.6);
    z-index: 1;
}

.cover__title {
    text-transform: uppercase;
    color: white;
    width: 1000px;
}

.aligned-text {
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin: 165px 0 106px;
    height: 385px;
}

.aligned-text_left {
    display: inline-block;
    align-self: start;
}
.aligned-text_center {
    display: inline-block;
    align-self: center;
}

.aligned-text_left,
.letter-spacing-extended {
    letter-spacing: 30px;
}

.aligned-text_right {
    display: inline-block;
    align-self: flex-end;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 106px 0 50px;
}

.cover__description-text {
    word-spacing: 19px;
    font-size: 22px;
    line-height: 28px;
}

.bet-button {
    all: unset;
    font-size: 22px;
    border: solid 1px white;
    padding: 12px 32px 11px 31px;
    background-color: transparent;
    cursor: pointer;
} 

.lots {
    display: flex;
    flex-direction: column;
    width: 1100px;
    min-height: 723px;
    padding: 184px 25px 156px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    padding: 29px 0 33px;
 }

.lots__heading,
.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.lots__heading {    
    display: flex;
    padding-left: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 596px;
    gap: 24px;
    padding: 48px 40px;
    color: white;
    position: relative;
    overflow: hidden;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.card__text {
    font-size: 20px;
}

.card__title, 
.card__text {
    color: white;
    line-height: 120%;
}

.card__title, 
.card__text,
.cover__title,
.card_type_film,
.card_type_book,
.card_type_picture {
    position: relative;
    z-index: 2;
}

.card-link {
    text-decoration: none;
}

.card_type_film,
.card_type_book,
.card_type_picture {
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
    font-size: 20px;
    line-height: 100%;
    padding-left: 40px;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    width: 1100px;
    min-height: 595px;
    padding: 0 24px 181px;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 240px 1fr;
    grid-template-areas: 
    "about__logo about__title"
    ". about__text";
    column-gap: 24px;
    row-gap: 8px;
}

.about__title {
    grid-area: about__title;
    justify-self: start;
    align-self: center;
    padding-top: 8px;
}

.about__text {
    display: grid;
    row-gap: 24px;
    font-size: 20px;
    line-height: 24px;
    grid-area: about__text;
    align-self: start;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    grid-area: about__logo;
    place-self: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    display: contents;
}

.footer {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    padding: 0 50px 82px;
}

footer .address {
    justify-self: flex-start;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__menu-list-item {
    margin-bottom: 0;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer__social-list-item {
    margin-left: 48px;
}

.footer__social-icon,
.footer__social-link {
    width: 48px;
    height: 48px;
    display: block;
}